@import "../base/variables";
@import "../helpers/mixins";

.products-section {
  position: relative;
}

.products-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.product {
  display: flex;
  flex-flow: column;
  background-color: $white;
  justify-content: space-between;
  flex: 0 0 22%;
  text-align: center;
  margin-bottom: 3em;
  box-shadow: 0 0 0.1em 0.1em $grey;

  @include mq("tablet-wide", min) {
    &:not(:nth-of-type(4n + 4)) {
      margin-right: 4%;
    }
  }

  @include mq("tablet-wide", max) {
    flex: 0 0 calc(92% / 3);
    margin-bottom: 2em;

    &:not(:nth-of-type(3n + 3)) {
      margin-right: 4%;
    }
  }

  @include mq("tablet-small", max) {
    flex: 0 0 calc(92% / 2);

    &:nth-of-type(odd) {
      margin-right: 8%;
    }

    &:nth-of-type(even) {
      margin-right: 0;
    }

    @include mq("phone-small", max) {
      flex: 0 0 calc(96% / 2);
      font-size: .8em;
      margin-bottom: 1em;

      &:nth-of-type(odd) {
        margin-right: 4%;
      }
    }
  }

  .product__image {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
  }

  .product__caption {
    padding: 0 0.5em;
  }
}
