@import "../base/variables";

.sort-select {
    position: absolute;
    left: 13em;
    top: 0;
    -webkit-appearance: button;
    appearance: button;
    -webkit-border-radius: 1em;
    -webkit-padding-end: 1em;
    -webkit-padding-start: 1em;
    -webkit-user-select: none;
    background-color: $white;
    box-shadow: 0 0 1px 1px lighten($grey, 50%);
    border-radius: 0;
    font-size: .8em;
    color: lighten($grey, 20%);
    padding: .5em 1em;
    letter-spacing: .1em;
    width: 15em;
    outline: none;
 }
