@import "../base/variables";

.sort-select {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-color: $white;
    border: 1px solid $grey;
    border-radius: 1em;
    color: #555;
    font-size: inherit;
    margin: 20px;
    overflow: hidden;
    padding: .4em 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 20em;
 }
