@import "variables";
@import "typography";
@import "../helpers/mixins";

a {
  text-decoration: none;
}

.page {
  font-family: $base-font;
  background-color: $main-color;
  color: $black;
  letter-spacing: 0.1em;
  padding: 2em 8em;
}

.section-header {
  margin-bottom: 3em;
}

.btn {
  border: none;

  &:hover {
    cursor: pointer;
  }

  &--show,
  &--add {
    padding: 1em 2em;
    background-color: $black;
    color: $white;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &--add {
    width: 80%;
    margin: 0 auto;
  }
}

.vinyl {
  position: relative;
  margin-right: 0.2em;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  background-color: $black;

  .vinyl__inner {
    @include center(both);
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: $yellow;
  }
}
