$main-color: #EAECE7;
$black: #242421;
$grey: #555550;
$white: rgb(243, 243, 243);
$yellow: rgb(230, 223, 134);
$orange: rgb(230, 200, 134);


$base-font: 'Roboto', sans-serif;
$secondary-font: 'Racing Sans One', cursive;
